::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FF0092;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d40076;
}
